<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymelear.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total Number of Members</title>
    <link rel="stylesheet" href="stylesformonthlyMembers.css">
</head>
<body>
    <h1>The Total Number of Members</h1>
    <table id="membersTable">
        <thead>
            <tr>
                <!-- <th>Serial number</th> -->
                <th>months</th>
                <th>members</th>
            </tr>
        </thead>
        <tbody>
            <!-- Rows will be added here by JavaScript -->
        </tbody>
    </table>

    <div class="container">
            <tbody>
                <!-- Rows will be added here by JavaScript -->
            </tbody>
        </table>
        <canvas id="membersChart"></canvas>
    </div>
    
   
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="scriptformonthlyMembers.js"></script>

</body>
</html>
